body{
    font-family: century gothic;
}

main {
    display: flex;
    justify-content: space-around;
}

form{
    background-color: #eeeeee;
    padding: 1rem;
    border: 1px solid #e3e3e3;
}

label{
    display: block;
}