body{
    font-family: century gothic 20px;
}

main {
    display: flex;
    justify-content: space-around;
}

form{
    background-color: #eeeeee;
    padding: 1rem;
    border: 1px solid #e3e3e3;
}

label{
    display: block;
}

dl{
    padding: 1rem
}

li{
    list-style: none;
}

dl:nth-of-type(even){
    background-color: whitesmoke;
}